@media screen and (min-width:768px) and (max-width:1023px)
    .divCards
        flex-direction: column
    .section2bottom
        flex-direction: column
        align-items: center
        .bottomL 
            width: 100% !important
            display: flex
            flex-direction: column
            align-items: center
            margin-bottom: 40px

@media screen and (min-width:375px) and (max-width:767px)
    .header
        flex-direction: column
        justify-content: center
        .title
            justify-content: center
            margin-top: 5px
        .listNav
            justify-content: center
            padding: 0
            li
                a
                    margin: 0
                    padding: 5px
    
    .divCards
        flex-direction: column
    .section2bottom
        flex-direction: column
        align-items: center
        padding: 0 !important
        .bottomL 
            width: 100% !important
            display: flex
            flex-direction: column
            align-items: center
            margin-bottom: 40px
        .bottomR
            display: flex
            flex-direction: column

@media screen and (max-width:374px)
    .header
        flex-direction: column
        justify-content: center
        height: fit-content
        .title
            justify-content: center
            margin-top: 5px
        .listNav
            justify-content: center
            flex-direction: column
            align-items: center
            padding: 0
            li
                a
                    margin: 0
                    padding: 5px
    .divCards
        flex-direction: column
    .section2bottom
        flex-direction: column
        align-items: center
        padding: 0 !important
        .bottomL 
            width: 100% !important
            display: flex
            flex-direction: column
            align-items: center
            margin-bottom: 40px
        .bottomR
            display: flex
            flex-direction: column
